<div class='teaser--slim'/>
<content-row class="signup-form">
    <form name="signup.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1 translate="REGISTER_HEADLINE">Registrierung</h1>
            </div>
        </div>


        <div class="general-error alert-box alert" ng-messages="signup.generalErrors" ng-if="signup.generalErrors">
            <div ng-message="remote_unknown"><span translate="FORM_ERROR_UNEXPECTED"></span></div>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-firstname">
                <label form-group="firstName">

                    <span form-label-valid="firstName" translate="FORM_FORENAME_LABEL">Vorname</span>

                    <span form-label-invalid="firstName" ng-messages="signup.form.firstName.$error">
                        <div ng-message="required"><span translate="FORM_FORENAME_ERROR_REQUIRED"></span></div>
                    </span>

                    <input type="text" name="firstName" ng-model="signup.user.firstName" field-name="firstName" required reset-remote-validation translate-attr="{ placeholder: 'FORM_FORENAME_PLACEHOLDER' }"/>
                </label>
            </div>
            <div class="small-12 columns form-controls-lastname">
                <label form-group="lastName">

                    <span form-label-valid="lastName" translate="FORM_SURNAME_LABEL">Nachname</span>

                    <span form-label-invalid="lastName" ng-messages="signup.form.lastName.$error">
                        <div ng-message="required"><span translate="FORM_SURNAME_ERROR_REQUIRED"></span></div>
                    </span>

                    <input type="text" name="lastName" ng-model="signup.user.lastName" field-name="lastName" required reset-remote-validation translate-attr="{ placeholder: 'FORM_SURNAME_PLACEHOLDER' }"/>
                </label>
            </div>
        </div>

        <div class="row">
            <email-form-group model="signup.user.email" field-name="email"
                              class="small-12 columns form-controls-email"/>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-termsofservice">
                <label form-group="termsOfServiceAccepted">

                    <input type="checkbox" name="termsOfServiceAccepted" ng-model="signup.user.termsOfServiceAccepted" required>
                    <span form-label-valid="termsOfServiceAccepted" translate="FORM_AGB_LABEL" translate-compile translate-value-link="<a class='crowd-tos-link' ng-click='signup.showTermsOfService = !signup.showTermsOfService' translate='FORM_AGB_LABEL_LINK'>Nutzungsbedingung</a>"></span>
                    <span form-label-invalid="termsOfServiceAccepted" ng-messages="signup.form.termsOfServiceAccepted.$error">
                        <span ng-message="required"><span translate="FORM_AGB_ERROR_REQUIRED" translate-value-link="<a class='crowd-tos-link' ng-click='signup.showTermsOfService = !signup.showTermsOfService' translate='FORM_AGB_ERROR_REQUIRED_LINK'>Nutzungsbedingung</a>" translate-compile></span></span>
                    </span>
                </label>
            </div>
        </div>

        <div class="row" ng-if="signup.showTermsOfService">
            <div class="small-12 columns">
                <div class="crowd-tos-panel panel callout radius font-small" translate="REGISTER_AGB">Hiermit gestatte ich der Axel Springer Ideas Engineering GmbH mich für Neuigkeiten (bspw. Start einer Kampagne sowie Status meiner Idee) rund um AS.Crowd  zu kontaktieren. Ich habe die Möglichkeit mich jederzeit vom Newsletter abzumelden. Dazu kann ich den Link in der Fußzeile unserer E-Mails betätigen. Weitere Informationen zum Datenschutz sind der Datenschutzerklärung zu entnehmen.</div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button ng-if="signup.loading" type="submit" class="button-primary" ng-click="signup.signUp()" ng-disabled="signup.loading" translate="BUTTON_LABEL_REGISTERING">Registrieren...</button>
                    <button ng-if="!signup.loading" type="submit" class="button-primary" ng-click="signup.signUp()" ng-disabled="signup.loading" translate="BUTTON_LABEL_REGISTER">Registrieren</button>
                </div>
                <div class="text--small push--top" translate="REGISTER_LOGIN" translate-compile translate-value-link="<a href='#/login' translate='REGISTER_LOGIN_LINK'></a>"></div>
            </div>
        </div>

    </form>
</content-row>
