<div class='teaser--slim'/>
<content-row class="signup-form">
    <form name="signup.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1>Registrierung</h1>
            </div>
        </div>


        <div class="general-error alert-box alert" ng-messages="signup.generalErrors" ng-if="signup.generalErrors">
            <span ng-message="remote_unknown">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-firstname">
                <label form-group="firstName">

                    <span form-label-valid="firstName">Vorname</span>

                    <span form-label-invalid="firstName" ng-messages="signup.form.firstName.$error">
                        <span ng-message="required">Bitte gib Deinen Vornamen ein</span>
                    </span>

                    <input type="text" name="firstName" ng-model="signup.user.firstName" field-name="firstName" required reset-remote-validation placeholder="Vorname"/>
                </label>
            </div>
            <div class="small-12 columns form-controls-lastname">
                <label form-group="lastName">

                    <span form-label-valid="lastName">Nachname</span>

                    <span form-label-invalid="lastName" ng-messages="signup.form.lastName.$error">
                        <span ng-message="required">Bitte gib Deinen Nachnamen ein</span>
                    </span>

                    <input type="text" name="lastName" ng-model="signup.user.lastName" field-name="lastName" required reset-remote-validation placeholder="Nachname"/>
                </label>
            </div>
        </div>

        <div class="row">
            <email-form-group model="signup.user.email" field-name="email"
                              class="small-12 columns form-controls-email"/>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-termsofservice">
                <label form-group="termsOfServiceAccepted">

                    <input type="checkbox" name="termsOfServiceAccepted" ng-model="signup.user.termsOfServiceAccepted" required>

                    <span form-label-valid="termsOfServiceAccepted">
                        Ich akzeptiere die
                        <a class="crowd-tos-link" ng-click="signup.showTermsOfService = !signup.showTermsOfService">Nutzungsbedingung</a>
                    </span>

                    <span form-label-invalid="termsOfServiceAccepted" ng-messages="signup.form.termsOfServiceAccepted.$error">
                        <span ng-message="required">Bitte akzeptiere die
                            <a class="crowd-tos-link" ng-click="signup.showTermsOfService = !signup.showTermsOfService">Nutzungsbedingung</a>
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="row" ng-if="signup.showTermsOfService">
            <div class="small-12 columns">
                <div class="crowd-tos-panel panel callout radius font-small">Hiermit gestatte ich der Axel Springer Ideas Engineering GmbH mich für Neuigkeiten (bspw. Start einer Kampagne sowie Status meiner Idee) rund um AS.Crowd  zu kontaktieren. Ich habe die Möglichkeit mich jederzeit vom Newsletter abzumelden. Dazu kann ich den Link in der Fußzeile unserer E-Mails betätigen. Weitere Informationen zum Datenschutz sind der Datenschutzerklärung zu entnehmen.</div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="crwd-success radius shadow margin-top"
                            ng-click="signup.signUp()" ng-disabled="signup.loading">
                        {{ signup.loading ? 'Registrieren...' : 'Registrieren' }}
                    </button>
                </div>
                <div class="text--small push--top">
                    <a href="#/login">oder hier anmelden</a>
                </div>
            </div>
        </div>

    </form>
</content-row>
