<idea-teaser campaign="ideasList.campaign"></idea-teaser>

<content-row overlay="ADD_IDEA_SUCCESS">
    <idea-add campaign="ideasList.campaign" success-fn="ideasList.reloadOwnIdeas"></idea-add>
</content-row>

<content-row>
    <section>
        <content-hero title="'IDEAS_VOTE_HEADLINE'" description="'IDEAS_VOTE_DESC'"></content-hero>

        <ul class="ideas-list__filter">
            <li><a name="FILTER_ALL" ng-class="ideasList.selectedFilter == 'ALL' ? 'active' : ''" ng-click="ideasList.setFilter('ALL')" translate="FILTER_ALL_LABEL"></a></li>
            <li><a name="FILTER_NOT_VOTED" ng-class="ideasList.selectedFilter == 'NOT_VOTED' ? 'active' : ''" ng-click="ideasList.setFilter('NOT_VOTED')" translate="FILTER_NOT_VOTED_LABEL"></a></li>
            <li><a name="FILTER_VOTED" ng-class="ideasList.selectedFilter == 'VOTED' ? 'active' : ''" ng-click="ideasList.setFilter('VOTED')" translate="FILTER_VOTED_LABEL"></a></li>
        </ul>
        <div class="ideas-grid__container">
            <div class="ideas-grid__box" ng-repeat="idea in ideasList.ideas" overlay="{{'VOTE_'+idea.id}}">
                <idea-tile campaign="ideasList.campaign" idea="idea"></idea-tile>
            </div>
        </div>
    </section>

    <div class="ideas-grid__empty-label campaign-noentry" ng-if="!ideasList.ideas.length">
        <img class="campaign-noentry__image" src="/images/campaigns-not-available-robot.svg">
    </div>

    <load-more paging="ideasList.paging" no-more-label="'IDEAS_LOAD_MORE_LABEL_NO_MORE'" ng-if="!ideasList.paging.last" load-more-label="'IDEAS_LOAD_MORE_LABEL'" load-fn="ideasList.loadMore"></load-more>
</content-row>
