<!--
<div class="contain-to-grid" foundation-reflow="topbar">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/intro"><img class="site-logo" src="images/logo-crowd.svg" height="25" alt="Crowdsource"></a></h1>
            </li>
            <li class="sbar__li--secondar--no-padding" ng-repeat="breadcrumb in nav.breadcrumbs">
                <a ng-if="!$last" class="sbar-breadcrumb__item" ng-href="{{breadcrumb.target}}">{{breadcrumb.label}}</a>
                <span ng-if="$last" class="sbar-breadcrumb__item--current">{{breadcrumb.label}}</span>
                <span ng-if="!$last" class="sbar-breadcrumb__item-separator">&raquo;</span>
            </li>
            <li class="toggle-topbar menu-icon"><a><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li ng-if="!nav.auth.currentUser.loggedIn" ng-class="nav.getClassForMenuItem('/login')" class="login"><a href="#/login">Login</a></li>
                <li ng-if="!nav.auth.currentUser.loggedIn" ng-class="nav.getClassForMenuItem('/signup')" class="register"><a href="#/signup">Registrieren</a></li>
                <li ng-if="nav.auth.currentUser.loggedIn" ng-class="nav.getClassForMenuItem('/logout')" class="logout"><a href="#/logout">Logout</a></li>
            </ul>
        </section>
    </nav>
</div>
-->

<div class="header__content-spacer">
    <header class="header__header-container">
        <div class="content-container">
            <nav class="header__navigation">
                <div class="header__header-mobile">
                    <a class="header__home-link" href="#"><div class="header__icon-crowdsource"><img src="images/logo-crowd.svg" width="142" height="25" alt="Crowdsource"></div></a>
                    <button class="header__burger-menu-button"></button>
                </div>
                <div class="header__nav-container">
                    <div ng-repeat-start="breadcrumb in nav.breadcrumbs" class="header__breadcrumb-divider"/>
                    <a ng-repeat-end="" ng-class="{'header__nav-active':$last, 'header__breadcrumb-link':!$last}" ng-href="{{breadcrumb.target}}">{{breadcrumb.label}}</a>
                    <div class="header__breadcrumb-nav-divider" />
                    <a ng-repeat="localNavItem in nav.localNavItems" class="header__nav-link" ng-href="{{localNavItem.target}}">{{localNavItem.label}}</a>
                    <div ng-if="nav.localNavItems.length > 0" class="header__nav-divider" /></div>
                        <a class="header__nav-link" href="#/help">Hilfe</a>
                        <a ng-if="!nav.auth.currentUser.loggedIn" class="header__nav-link" href="#/signup">Registieren</a>
                    <a ng-if="!nav.auth.currentUser.loggedIn" class="header__nav-link" href="#/login">Login</a>
                    <a ng-if="nav.auth.currentUser.loggedIn" class="header__nav-link" href="#/logout">Logout</a>
                    </div>
            </nav>
        </div>
    </header>
</div>
