<div class="header__content-spacer">
    <header class="header__header-container">
        <div class="content-container">
            <nav class="header__navigation">
                <div class="header__header-mobile">
                    <a class="header__home-link" href="#" ng-click="vm.closeMobileMenu()"><div class="header__icon-crowdsource"><img src="images/logo-crowd.svg" width="142" height="25" alt="Crowdsource"></div></a>
                    <button class="header__burger-menu-button" ng-click="vm.toggleMobileMenu()"></button>
                </div>
                <div class="header__nav-container" ng-show="!vm.isMobile || (vm.isMobile && vm.isMobileMenuOpen)">
                    <div ng-repeat-start="breadcrumb in vm.breadcrumbs" class="header__breadcrumb-divider"/>
                    <a ng-repeat-end="" ng-class="{'header__nav-active':$last, 'header__breadcrumb-link':!$last}" ng-href="{{breadcrumb.target}}" ng-click="vm.closeMobileMenu()">{{breadcrumb.label | translate}}</a>
                    <div class="header__breadcrumb-nav-divider" />
                    <a ng-repeat="localNavItem in vm.localNavItems" class="header__nav-link" ng-href="{{localNavItem.target}}" ng-click="vm.closeMobileMenu()">{{localNavItem.label | translate}}</a>
                    <div ng-if="vm.localNavItems.length > 0" class="header__nav-divider"></div>
                    <a class="header__nav-link" href="#/help" ng-click="vm.closeMobileMenu()" translate="NAV_LABEL_HELP">Hilfe</a>
                    <a ng-if="!vm.auth.currentUser.loggedIn" class="header__nav-link" href="#/signup" ng-click="vm.closeMobileMenu()" translate="NAV_LABEL_REGISTER">Registieren</a>
                    <a ng-if="!vm.auth.currentUser.loggedIn" class="header__nav-link" href="#/login" ng-click="vm.closeMobileMenu()" translate="NAV_LABEL_LOGIN">Login</a>
                    <a ng-if="vm.auth.currentUser.loggedIn" class="header__nav-link" href="#/logout" ng-click="vm.closeMobileMenu()" translate="NAV_LABEL_LOGOUT">Logout</a>
                    <div class="header__nav-divider"></div>
                    <a class="header__nav-link" ng-if="vm.currentLanguage=='de'" ng-click="vm.changeLanguage('en')" translate="NAV_LANG_ENGLISH">English</a>
                    <a class="header__nav-link" ng-if="vm.currentLanguage=='en'" ng-click="vm.changeLanguage('de')" translate="NAV_LANG_GERMAN">Deutsch</a>
                </div>
            </nav>
        </div>
    </header>
</div>
