*.iml
.idea
target
node_modules
bower_components
crowdsource-frontend/node
secring.gpg
npm-debug.log
.DS_Store
crowd-users.csv
mongodb-scripts/crowd-campaigns.csv
mongodb-scripts/crowd-ideas.csv
mongodb-scripts/crowd-votes.csv
