<div class='teaser--slim'/>
<content-row class="login-form">
    <form name="login.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1>
                    {{'LOGIN_HEADLINE' | translate}}
                    <small class="right push--top">
                        <a class="password-recovery-link  text--small" href="#/login/password-recovery" translate="LOGIN_LINK_PASSWORD_RECOVERY">Passwort vergessen?</a>
                    </small>
                </h1>
            </div>
        </div>

        <div class="small-12 columns">
            <div class="general-error alert-box alert" ng-messages="login.generalErrors" ng-if="login.generalErrors">
                <div ng-message="remote_bad_credentials"><span translate="LOGIN_ERROR_INVALID_CREDENTIALS"></span></div>
                <div ng-message="remote_unknown"><span translate="FORM_ERROR_UNEXPECTED"></span></div>
            </div>
        </div>

        <div class="row">
            <email-form-group model="login.user.email" field-name="email"
                              class="small-12 columns form-controls-email"/>
        </div>

        <div class="row">
            <div class="small-12 columns form-controls-password">
                <label form-group="password">

                    <span form-label-valid="password" translate="FORM_PASSWORD_LABEL">Passwort</span>

                    <span form-label-invalid="password" ng-messages="login.form.password.$error">
                        <div ng-message="required"><span translate="FORM_PASSWORD_ERROR_REQUIRED"></span></div>
                    </span>

                    <input type="password" name="password" ng-model="login.user.password" placeholder="Passwort"
                           required reset-remote-validation translate-attr="{ placeholder: 'FORM_PASSWORD_PLACEHOLDER' }">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button ng-if="login.loading" type="submit" class="crwd-success radius shadow margin-top" ng-click="login.login()" ng-disabled="login.loading" translate="BUTTON_LABEL_LOGGING_IN"></button>
                    <button ng-if="!login.loading" type="submit" class="crwd-success radius shadow margin-top" ng-click="login.login()" ng-disabled="login.loading" translate="BUTTON_LABEL_LOGIN"></button>
                </div>
                <div class="text--small push--top" translate="LOGIN_REGISTER" translate-compile translate-value-link="<a href='#/signup' translate='LOGIN_REGISTER_LINK'></a>"></div>
            </div>
        </div>
    </form>
</content-row>
