@import "../../../globals";

.container {
  position: relative;
  width: 100%;
}

.background-visual {
  background: url(./assets/motivation-background.png) #39c277 center center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  &::after {
    background-image: linear-gradient(135deg, #292484, #dc4225);
    content: ' ';
    opacity: 0.33;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.text {
  @include font-regular;
  color: $clr-white;
  padding: 0 100px;
  text-align: center;

  &:last-of-type {
    text-transform: uppercase;
  }
}
