<idea-teaser campaign="ideasList.campaign"></idea-teaser>
<ideas-status-bar campaign="ideasList.campaign"></ideas-status-bar>

<content-row>
    <div class="row">
        <ideas-own-statistics ideas="ideasList.ideas" campaign="ideasList.campaign"></ideas-own-statistics>
    </div>
</content-row>


<content-row>
    <section class="own-list__section">
        <div class="content-hero__container">
            <h2 class="content-hero__headline" translate="IDEAS_OWN_SUBMITTED_HEADLINE">Eingereichte Ideen</h2>
            <p class="content-hero__description" translate="IDEAS_OWN_SUBMITTED_DESC" translate-value-value="{{ ideasList.proposed.length }}">Ideen, die noch auf eine Freigabe warten: </p>
        </div>
        <div class="ideas-grid__container">
            <div class="ideas-grid__box ideas-grid__proposed" ng-repeat="idea in ideasList.proposed" overlay="{{'VOTE_'+idea.id}}">
                <idea-tile campaign="ideasList.campaign" idea="idea"></idea-tile>
            </div>
        </div>
        <div class="ideas-grid__empty-label campaign-noentry" ng-if="!ideasList.proposed.length">
            <img class="campaign-noentry__image" src="/images/campaigns-not-available-robot.svg">
        </div>
    </section>
</content-row>

<content-row>
    <section class="own-list__section">

        <div class="content-hero__container ng-scope">
            <h2 class="content-hero__headline" translate="IDEAS_OWN_PUBLISHED_HEADLINE">Veröffentlichte Ideen</h2>
            <p class="content-hero__description" translate="IDEAS_OWN_PUBLISHED_DESC" translate-value-value="{{ ideasList.published.length }}">Ideen, die sich noch in der Abstimmung befinden: </p>
        </div>

        <div class="ideas-grid__container">
            <div class="ideas-grid__box ideas-grid__published" ng-repeat="idea in ideasList.published" overlay="{{'VOTE_'+idea.id}}">
                <idea-tile campaign="ideasList.campaign" idea="idea" own="true"></idea-tile>
            </div>
        </div>
        <div class="ideas-grid__empty-label campaign-noentry" ng-if="!ideasList.published.length">
            <img class="campaign-noentry__image" src="/images/campaigns-not-available-robot.svg">
        </div>
    </section>
</content-row>

<content-row>
    <section class="own-list__section">
        <div class="content-hero__container ng-scope">
            <h2 class="content-hero__headline" translate="IDEAS_OWN_REJECTED_HEADLINE">Abgelehnte Ideen</h2>
            <p class="content-hero__description" translate="IDEAS_OWN_REJECTED_DESC" translate-value-value="{{ ideasList.rejected.length }}">Ideen, die leider abgelehnt wurden: </p>
        </div>
        <div class="ideas-grid__container">
            <div class="ideas-grid__box ideas-grid__rejected" ng-repeat="idea in ideasList.rejected">
                <idea-tile campaign="ideasList.campaign" idea="idea"></idea-tile>
            </div>
        </div>
        <div class="ideas-grid__empty-label campaign-noentry" ng-if="!ideasList.rejected.length">
            <img class="campaign-noentry__image" src="/images/campaigns-not-available-robot.svg">
        </div>
    </section>
</content-row>