<div class="footer">
    <div class="row">
        <div class="footer__container">
            <ul class="footer__col">
                <li class="footer__item-head">Sitemap</li>
                <li><a class="footer-link" href="#/intro">Entdecken</a></li>
                <li><a class="footer-link" href="#/help">Hilfe</a></li>
                <li ng-if="footer.auth.isAdmin()" class="footer__item-head--nextrow">Admin</li>
                <li ng-if="footer.auth.isAdmin()"><a class="footer-link" href="#/statistics">Statistik</a></li>
            </ul>
            <ul class="footer__col">
                <li class="footer__item-head">Informationen</li>
                <li><a class="footer-link" href="#/about">Über uns</a></li>
                <li><a class="footer-link" href="#/imprint">Impressum</a></li>
                <li><a class="footer-link" href="#/privacy">Datenschutzerklärung</a></li>
            </ul>
        </div>
    </div>
</div>
