Hallo #{#firstName},

gute Nachrichten! Deine Idee "#{#ideaTitle}"
wurde akzeptiert und steht nun zur Abstimmung bereit.

Zur Kampagne "#{#campaignTitle}":

#{#link}

Mit freundlichen Grüßen
Dein CrowdSource Team