Hallo Admin,

es liegt eine neue Idee zur Freigabe vor:

Name: #{#fullName}
Title: #{#ideaTitle}
Pitch: #{#ideaPitch}
Kampagne: #{#campaignTitle}

#{#link}

Mit freundlichen Grüßen
Dein CrowdSource Team
