<idea-teaser campaign="admin.campaign"></idea-teaser>
<ideas-status-bar campaign="admin.campaign"></ideas-status-bar>


<content-row>
    <div class="content-hero__container">
        <h2 class="content-hero__headline" translate="ADMIN_IDEAS_PENDING_HEADLINE"></h2>
        <p class="content-hero__description" translate="ADMIN_IDEAS_PENDING_DESC" translate-value-value="{{ admin.pendingIdeasTotal }}"></p>
    </div>

    <div class="ideas-grid__container">
        <div class="ideas-grid__box" ng-repeat="idea in admin.pendingIdeas" overlay="{{'ADMIN_'+idea.id}}">
            <idea-tile campaign="admin.campaign" admin="true" idea="idea" success-fn="admin.reloadLists"></idea-tile>
        </div>
    </div>
</content-row>

<content-row class="content-row--gray-bg">
    <div class="content-hero__container">
        <h2 class="content-hero__headline" translate="ADMIN_IDEAS_DENIED_HEADLINE"></h2>
        <p class="content-hero__description" translate="ADMIN_IDEAS_DENIED_DESC" translate-value-value="{{ admin.rejectedIdeasTotal }}"></p>
    </div>

    <div class="ideas-grid__container">
        <div class="ideas-grid__box" ng-repeat="idea in admin.rejectedIdeas">
            <idea-tile campaign="admin.campaign" admin="true" idea="idea" success-fn="admin.reloadLists"></idea-tile>
        </div>
    </div>
</content-row>

