<idea-teaser campaign="admin.campaign"></idea-teaser>
<ideas-status-bar campaign="admin.campaign"></ideas-status-bar>

<content-row class="intro-section">

    <div class="row">
        <div class="columns"></div>
        <div class="columns"></div>
    </div>

    <content-row>
        <h2>Liste noch ausstehenden Ideen ({{admin.pendingIdeas && admin.pendingIdeas.length}})</h2>
        <div class="ideas-grid__container">
            <div class="ideas-grid__box" ng-repeat="idea in admin.pendingIdeas">
                <idea-tile campaign="admin.campaign" admin="true" idea="idea" success-fn="admin.reloadLists"></idea-tile>
            </div>
        </div>
    </content-row>

    <content-row>
        <h2>Liste abgelehnten Ideen ({{admin.rejectedIdeas && admin.rejectedIdeas.length}})</h2>
        <div class="ideas-grid__container">
            <div class="ideas-grid__box" ng-repeat="idea in admin.rejectedIdeas">
                <idea-tile campaign="admin.campaign" admin="true" idea="idea" success-fn="admin.reloadLists"></idea-tile>
            </div>
        </div>
    </content-row>

</content-row>