<idea-teaser campaign="admin.campaign"></idea-teaser>
<ideas-status-bar campaign="admin.campaign"></ideas-status-bar>


<content-row class="content-row--white-bg">
    <content-hero title="'Ausstehende Ideen'" description="'Ideen, die auf Freigabe warten: ' + admin.pendingIdeasTotal"></content-hero>

    <div class="ideas-grid__container">
        <div class="ideas-grid__box" ng-repeat="idea in admin.pendingIdeas" overlay="{{'ADMIN_'+idea.id}}">
            <idea-tile campaign="admin.campaign" admin="true" idea="idea" success-fn="admin.reloadLists"></idea-tile>
        </div>
    </div>
</content-row>

<content-row>
    <content-hero title="'Abgelehnte Ideen'" description="'Ideen, die leider abgelehnt wurden: ' + admin.rejectedIdeasTotal"></content-hero>

    <div class="ideas-grid__container">
        <div class="ideas-grid__box" ng-repeat="idea in admin.rejectedIdeas">
            <idea-tile campaign="admin.campaign" admin="true" idea="idea" success-fn="admin.reloadLists"></idea-tile>
        </div>
    </div>
</content-row>

