$font-size-normal: 1rem;
$font-size-small: 0.875rem;

$color-green-shade-1: #35EA87;
$color-green-shade-2: #4BD489;

$color-black-shade-1: #000000;
$color-black-shade-2: #2D2D2D;

$color-white: #FFFFFF;
$color-grey: #CCCCCC;
$color-red: #f04124;


$border-radius: 3px;

/*
$color-green-shade-3: #3CA96E;
$color-green-shade-4: #2D7F52;
$color-green-shade-5: #1E5437;
$color-green-shade-6: #0F2A1B;
*/