<h3 class="campaign__heading">Prototypen</h3>

<div class="campaign-noentry" ng-if="!list.entries.length">
    <img class="campaign-noentry__image" src="/images/campaigns-not-available-robot.svg">
    <span class="campaign-noentry__description">Zurzeit gibt es leider keine Prototypen Kampagne</span>
</div>

<div ng-if="list.entries.length" ng-repeat="entry in list.entries" class="campaign__container">
    <a href="" ng-href="#/ideas/{{entry.id}}">
        <article class="campaign__item">

            <div class="campaign__image-container">
                <img class="campaign__image" ng-src="{{entry.teaserImageReference}}">
            </div>

            <div class="campaign__details-container">
                <h1 class="campaign__title">{{entry.title}}</h1>
                <span class="campaign__sponsor">{{entry.sponsor}}</span>
            </div>
        </article>
    </a>

    <hr class="campaign__divider" ng-if="!$last">

</div>
