
<intro-hero></intro-hero>

<content-row class="campaign">
    <div class="row" ng-if="intro.isLoggedIn">
        <h2 class="campaign__headline"></h2>
        <div class="campaign-ideas columns medium-6">
            <intro-ideas-campaign-list></intro-ideas-campaign-list>
        </div>

        <div class="campaign-prototypes columns medium-6">
            <intro-prototypes-campaign-list></intro-prototypes-campaign-list>
        </div>
    </div>

    <div ng-if="!intro.isLoggedIn" class="campaign-login__container">
        <h2 class="campaign-login__headline" translate="INTRO_HEADLINE">Join Crowd</h2>
        <p class="campaign-login__description" translate="INTRO_DESC">Werde Teil der Community! Hier geht's zum Login</p>
        <a class="button crwd-success radius shadow flush" href="#/login" translate="BUTTON_LABEL_LOGIN">Login</a>
    </div>
</content-row>