/***
* Crowdsource Settings
***/

// ---
// Import AND Extend Foundation Settings
// ---

$crowd-color-purple: #6455a0;
$crowd-color-orange: orange;
$crowd-color-grey: #898989;
$crowd-color-darker-grey: #575757;
$crowd-color-dark-grey: #2d2d2d;
$crowd-color-light-grey: #e6e6e6;

$success-color: #4BD489;
//#43AC6A; // Abhängigkeit zu Foundation Settings

$crowd-primary-color: $crowd-color-purple;
$crowd-secondary-color: $success-color;
$crowd-line-height: 22px;

// Fonts
$ff-primary: "Mont AS Pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$ff-secondray: "BrixSlab", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$crowd-font-family: $ff-primary;

@import "foundation/_foundation-settings";

// ---
// Sapcing Units, eg. for helper classes
// ---

$crowd-font-size: 16px;

$su-base: rem-calc($crowd-font-size);
$su-half: rem-calc($crowd-font-size / 2);
$su-dble: rem-calc($crowd-font-size * 2);

// ---
// Color Definitions, see other color settings in foundation settings
// ---

// Base Colors

$clr-blue: #0000FF;
$clr-black: #000000;
$clr-white: #000000;
$clr-green-neon: #00FF00;
$clr-red: #FF0000;
$clr-pink: #FF00FF;
$clr-gray-dark: #878787;
$clr-gray-light: #ededed;


$clr-indigo: #4B51D4;
// Some kind of blue
$clr-cranberry: #D44B95;
// Pink or Red
$clr-wattle: #D4CE4B;
// Dirty Yellow
$clr-emerald: #4BD489;
// Mint Green

$clr-base-blue: $clr-indigo;
$clr-base-red: $clr-cranberry;
$clr-base-yellow: $clr-wattle;
$clr-base-green: $clr-emerald;

// Shades Blue

$clr-blue-shade-1: #5A61FE;
$clr-blue-shade-2: #4B51D4;
$clr-blue-shade-3: #3C41A9;
$clr-blue-shade-4: #2D317F;
$clr-blue-shade-5: #1E2054;
$clr-blue-shade-6: #0F102A;

// Shades Red

$clr-red-shade-1: #FE5AB3;
$clr-red-shade-2: #D44B95;
$clr-red-shade-3: #A93C77;
$clr-red-shade-4: #7F2D59;
$clr-red-shade-5: #541E3B;
$clr-red-shade-6: #2A0F1E;

// Shades Yellow

$clr-yellow-shade-1: #FEF75A;
$clr-yellow-shade-2: #D4CE4B;
$clr-yellow-shade-3: #A9A53C;
$clr-yellow-shade-4: #7F7B2D;
$clr-yellow-shade-5: #54521E;
$clr-yellow-shade-6: #2A290F;

// Shades Green

$clr-green-shade-1: #5AFEA4;
$clr-green-shade-2: #4BD489;
$clr-green-shade-3: #3CA96E;
$clr-green-shade-4: #2D7F52;
$clr-green-shade-5: #1E5437;
$clr-green-shade-6: #0F2A1B;
$clr-green-shade-transparent: rgba(75, 212, 137, 0.25);

// Black Shades
$clr-mine-shaft: #2D2D2D;

// Gray
$clr-gray: #CFCFD7;
$clr-gray-dark: #3C3C3C;
$clr-gray-darker: #232323;

// Bodycopy
$clr-boulder: #787878;
// Lighter Bodycopy
$clr-gallery: #F0F0F0;
// Very Light BG's
$clr-alto: #D8D8D8;
// Outlines
$clr-white: #FFFFFF;
// Pure White

// Legacy Colors

$clr-bossanova: #532054;
$clr-butterfly: #5D568C;
$clr-emerald: #56BF84;
$clr-emerald-lighter: #35BF72;
$clr-aquamarine: #61FFA6;
$clr-chateau-green: #43AC6A;
$clr-blue-bell: #8C82C8;

// Colors by function

$clr-body: $clr-mine-shaft;
$clr-body-light: $clr-boulder;
$clr-border: lighten($clr-alto, 2.5%);
$clr-bg: $clr-gallery;
$clr-teaser-start: $clr-bossanova;
$clr-teaser-end: $clr-blue-shade-5;

$clr-red: #f04124;
$clr-rejected: rgba(255, 60, 60, 0.25);
$clr-proposed: rgba(255, 255, 60, 0.25);

// Gradient for divider
$clr-solar-light-start: $clr-butterfly;
$clr-solar-light-end: $clr-emerald;

// ---
// Font Size's Definitions
// ---

$fs-half: rem-calc(8px);
$fs-small: rem-calc(14px);
$fs-regular: rem-calc(16px);
$fs-smedium: rem-calc(20px);
$fs-medium: rem-calc(24px);
$fs-xmedium: rem-calc(28px);
$fs-large: rem-calc(32px);
$fs-xlarge: rem-calc(44px);

// ---
// Font Weight
// ---

$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 600;
$fw-extrabold: 700;
$fw-black: 800;

// Line Height
$lh-regular: 1.5;

// ---
// Border Definitions
// ---

$border-radius: 3px;
$border-radius-medium: 5px;

// ---
// Margins
// __
$mrg-tiny: 0.2rem;
$mrg-half: 0.5rem;
$mrg-small: 0.625rem; // 10px
$mrg-smaller: 0.875rem; // 14px
$mrg-normal: 1rem;      // 16px
$mrg-medium: 1.25rem;   // 20px, Good for component distance
$mrg-large: 1.5rem;   // 20px, Good for component distance
$mrg-double: 2rem;      // 32px
$mrg-huge: 2.5rem;      // 40px
$mrg-tripple: 3rem;     // 48px;

// Paddings
$pd-half: 0.5rem;       // 10px
$pd-tiny: 0.625rem;     // 10px
$pd-smaller: 0.75rem;   // 12px
$pd-small: 0.875rem;    // 14px
$pd-normal: 1rem;       // 16px
$pd-medium: 1.25rem;    // 20px, Good for component distance
$pd-double: 2rem;       // 32px
$pd-huge: 2.5rem;       // 40px


// ---
// Range Slider
// ---

$range-slider-handle-width: rem-calc(24px);
$range-slider-handle-height: rem-calc(24px);
$range-slider-handle-position-top: rem-calc(-10.5px);
$range-slider-active-segment-bg-color: $clr-emerald;



// Mixins
@mixin font-base {
  color: $clr-black;
  font-family: $ff-primary;
  font-style: normal;
  font-weight: $fw-light;
  line-height: $lh-regular;
}

@mixin font-headline-base {
  color: $clr-black;
  font-family: $ff-primary;
  font-style: normal;
  font-weight: $fw-bold;
  line-height: $lh-regular;
}

@mixin font-text {
  @include font-base;
  font-size: $fs-regular;
}

@mixin font-text-small {
  @include font-base;
  font-size: $fs-small;
}

@mixin font-form {
  @include font-base;
  font-size: $fs-small;
}

@mixin font-headline {
  @include font-headline-base;

  color: $clr-blue;
  font-size: $fs-large;
  
  @media (max-width: 767px) {
    font-size: $fs-xmedium;
  }
}

@mixin font-button {
  color: $clr-white;
  font-family: $ff-primary;
  font-size: $fs-small;
  font-style: normal;
  font-weight: $fw-bold;
  letter-spacing: 0.5px;
  line-height: $lh-regular;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  @include font-headline-base;
  font-size: $fs-large;
}

h2 {
  @include font-headline-base;
  font-size: $fs-xmedium;
}

h3 {
  @include font-headline-base;
  font-size: $fs-medium;
}

h4 {
  @include font-headline-base;
  font-size: $fs-smedium;
}

address {
  @include font-text;
  font-style: italic;
}

p {
  @include font-text;
}

input {
  @include font-form;
}
