<div class='teaser--slim'/>
<content-row class="password-recovery-form">
    <form name="passwordRecovery.form" class="box" novalidate>

        <div class="row">
            <div class="small-12 columns">
                <h1 translate="PASSWORD_RECOVERY_HEADLINE">Passwort vergessen</h1>
                <p translate="PASSWORD_RECOVERY_DESC">Gib hier die E-Mail-Adresse ein, mit der Du Dich registriert hast. Du erhältst von uns eine E-Mail mit einem Bestätigungslink und kannst Dein Passwort neu setzen.</p>
            </div>
        </div>

        <div class="general-error alert-box alert" ng-messages="passwordRecovery.generalErrors" ng-if="passwordRecovery.generalErrors">
            <span ng-message="remote_not_found" translate="PASSWORD_RECOVERY_ERROR_EMAIL_NOT_REGISTERED_1">Die Email-Adresse wurde noch nicht registriert. Versuche dich einfach zu <a href="#/signup">registrieren</a>.</span>
            <span ng-message="remote_unknown" translate="FORM_ERROR_UNEXPECTED">Es ist ein Fehler aufgetreten. Bitte versuche es erneut.</span>
        </div>

        <div class="row">
            <email-form-group model="passwordRecovery.user.email" field-name="email"
                              class="small-12 columns form-controls-email"/>
        </div>

        <div class="row">
            <div class="small-12 columns text-center">
                <div>
                    <button type="submit" class="crwd-success radius shadow margin-top" ng-click="passwordRecovery.recoverPassword()" ng-disabled="passwordRecovery.loading">
                        {{ passwordRecovery.loading ? 'BUTTON_LABEL_SUBMITTING' : 'BUTTON_LABEL_SUBMIT' | translate}}
                    </button>
                </div>
                <div class="text--small push--top"><a href="#/login" translate="PASSWORD_RECOVERY_LINK_LOGIN">oder hier anmelden</a>
                </div>
            </div>
        </div>

    </form>
</content-row>
