@import '../../settings';

$image-size: 80px;
$margin: 20px;
$padding: 10px;
$icon-size: 28px;
$icon-color: #3C3C3C;

.campaign-ideas {
  @media #{$small-only} {
    margin-bottom: 20px;
  }
}

.campaign-prototypes {
}

.campaign-list__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.campaign {
  background-color: $white;

  &__headline {
    font-size: $fs-xlarge;
    text-align: center;

    @media #{$small-only} {
      font-size: $fs-xmedium;
    }
  }

  &__heading {
    font-size: $fs-medium;
    margin-bottom: $margin;
    text-align: center;
  }

  &__container {
    margin-bottom: $mrg-medium;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 48%;
    }

    a {
      text-decoration: none;
      line-height: 0;
    }
  }

  &__container:last-of-type {
    margin-bottom: 0;
  }


  &__item {
    border-radius: $border-radius-medium;
    display: block;
    padding: $padding;
    background-color: $clr-white;
    transition: background 0.2s linear;


    &:hover {
      transition: background 0.2s linear;
      background: $clr-gray-light;
    }
  }

  &__image-container {
    position: relative;
    display: inline-block;
    width: $image-size;
    height: $image-size;
    overflow: hidden;
  }
  &__details-container {
    vertical-align: top;
    margin-left:10px;
    display: inline-block;
    height: 80px;
    position: relative;
    width: calc(100% - 100px);
  }

  &__state-container {
    float: right;
    vertical-align: top;
    display:inline-block;
  }

  &__state-icon--clock {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    background-position: calc(50% - 0px) calc(50% - 0px);
    background-repeat: no-repeat;
    background-size: rem-calc(22px);
    background-color: $icon-color;
    background-image: url('./images/icons/time_clock_with_arrow.svg');
  }

  &__image {
    position: absolute;
    display: block;
    width: $image-size;
    height: $image-size;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      height: $image-size;
      width: $image-size;
      background-color: yellow;
      background-image: url('./images/fallbacks/campaign-image-fallback.svg');
    }
  }

  &__title {
    @include font-text;

    font-weight: $fw-regular;
    margin-top: $mrg-tiny;
    margin-bottom: $mrg-tiny;
    width: 100%;
  }

  &__sponsor {
    @include font-text;

    display: block;
    margin: 0;
  }

  &__date {
    @include font-text;

    display: block;
    margin: 0;
  }

  &-noentry {
    text-align: center;
    padding: $padding;

    &__description {
      @include font-text;

      font-family: "Brix Slab";
      display: block;
    }

    &__image {
      margin-bottom: 20px;
    }

  }
}
