$star-width: 21px;
$star-height: 20px;
$tile-padding-horizontal: 20px;
$tile-padding-vertical: 15px;

.ideas-grid {

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__box {
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0;
    width: 33.3333%;

    @media #{$large-up} {
      &:nth-of-type(3n+1) {
        padding-right: 14px;
      }
      &:nth-of-type(3n+2) {
        padding-left: 7px;
        padding-right: 7px;
      }
      &:nth-of-type(3n) {
        padding-left: 14px;
      }
    }

    @media #{$medium-only} {
      width: 50%;
      &:nth-of-type(2n+1) {
        padding-right: 10px;
      }
      &:nth-of-type(2n) {
        padding-left: 10px;
      }
    }

    @media #{$small-only} {
      width: 100%;
    }
  }

  &-tile {
    @include box-shadow;

    border-radius: $border-radius;
    background-color: rgba(223, 223, 223, 0.5);
    height: 100%;
    padding: $tile-padding-vertical $tile-padding-horizontal;
    position: relative;
    width: 100%;

    &__title {
      display: block;
      font-size: $fs-medium;
      line-height: $fs-medium;
      margin-bottom: $fs-half;
    }

    &__text {
      font-size: $fs-normal;
      margin-top: $margin-comp;
      margin-bottom: $margin-comp-dbl;
      text-align: left;
    }

    &__rating {
      position: absolute;
      bottom: 0;
      margin-bottom: $tile-padding-vertical;
      display: flex;
      flex-direction: row-reverse;
    }

    &__star {
      display: inline-block;
      width: $star-width;
      height: $star-height;
      background-image: url('../images/icons/star.svg');
      background-size: cover;
      margin: 0px;

      &--single {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star.svg');
        background-size: cover;
        margin-right: 6px;
      }

      &--unrated {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-unrated.svg');
        background-size: cover;
        cursor: pointer;
        margin: 0px;
        padding: 0px;


        &:hover {
          background-image: url('../images/icons/star-rating.svg');

        }

        &:hover ~ div {
          background-image: url('../images/icons/star-rating.svg');

        }
      }

      &--rated {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-rating.svg');
        background-size: cover;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
      }

      &--disabled {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-unrated.svg');
        background-size: cover;
        margin: 0px;
        padding: 0px;
      }

      &--disabled-rated {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-disabled.svg');
        background-size: cover;
        margin: 0px;
        padding: 0px;
      }
    }

    &__approval {
      position: absolute;
      bottom: 0;
      margin-bottom: $tile-padding-vertical;
      text-align: center;
      width: calc(100% - #{$pd-dbl});
    }

    &__btn-approve {
      $dimension: 51px;
      display: inline-block;
      width: $dimension;
      height: $dimension;
      border-radius: 50%;
      background-color: $clr-green-shade-2;
      background-position: 14px 13px;
      background-repeat: no-repeat;
      background-size: rem-calc(22px);
      background-image: url('../images/icons/icon-thumbs-up.svg');
      cursor: pointer;
      margin-right: $mrg-small;
    }

    &__btn-reject {
      $dimension: 51px;
      display: inline-block;
      width: $dimension;
      height: $dimension;
      border-radius: 50%;
      background-color: $clr-red-rejected;
      background-position: 14px 16px;
      background-repeat: no-repeat;
      background-size: rem-calc(22px);
      background-image: url('../images/icons/icon-thumbs-down.svg');
      cursor: pointer;
    }

  }
}

