$star-width: 21px;
$star-height: 20px;
$tile-padding-horizontal: 20px;
$tile-padding-vertical: 15px;

.ideas-grid {

  &__container {
    width: calc(100% + #{2 * $mrg-medium});
    margin-left: -$mrg-medium;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__box {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    width: 33.3333%;

    @media #{$medium-only} {
      width: 50%;
    }

    @media #{$small-only} {
      width: 100%;
    }
  }

  &-tile {
    @include box-shadow;

    border-radius: $border-radius;
    background-color: $clr-gray-light;
    min-height: 280px;
    height: 100%;
    padding: $tile-padding-vertical $tile-padding-horizontal;
    position: relative;
    width: 100%;

    &--proposed {
      background-color: $clr-proposed;
    }

    &--rejected {
      background-color: $clr-rejected;
    }

    &__title {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: $fs-half;
      font-family: "Mont AS Pro";
      font-size: $fs-smedium;
      font-weight: $fw-bold;
      color: $clr-black;
    }

    &__text {
      @include font-text;

      margin-top: $mrg-half;
      margin-bottom: 4rem;
      text-align: left;
      word-break: break-word;
    }

    &__text--rejected {
      @include font-text;

      margin-top: $mrg-half;
      margin-bottom: $mrg-half;
      text-align: left;
      word-break: break-word;
    }


    &__rating {
      display: flex;
      flex-direction: row-reverse;
    }

    // Set to height of approval container to reserve space
    &__approval-spacer {
      height: 170px;
    }

    &__approval-container {
      position: absolute;
      width: calc(100% - #{2 * $mrg-medium});
      bottom: $mrg-normal;
    }

    &__edit-container {
      position: absolute;
      width: calc(100% - #{2 * $mrg-medium});
      bottom: $mrg-normal;
    }

    &__rejected-container {
      bottom: 0;
      padding-right: $pd-normal;
      display: inline-block;
    }

    &__rejected-message {
      @include font-text;
      color: $clr-red;
    }

    &__reject-textarea {
      resize: none;
      width: 100%;
    }

    &__bottom-container {
      position: absolute;
      bottom: 0;
      margin-bottom: $tile-padding-vertical;
    }

    &__votes {
      @include font-text;

      margin-top: 0px;
      line-height: 1;
    }

    &__star {
      display: inline-block;
      width: $star-width;
      height: $star-height;
      background-image: url('../images/icons/star.svg');
      background-size: cover;
      margin: 0;

      &--single {
        display: inline-block;
        width: 19px;
        height: 18px;
        background-image: url('../images/icons/star-unrated.svg');
        background-size: cover;
        margin-right: 6px;
        margin-top: 4px;
      }

      &--unrated {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-unrated.svg');
        background-size: cover;
        cursor: pointer;
        margin: 0;
        padding: 0;


        &:hover {
          background-image: url('../images/icons/star-rating.svg');

        }

        &:hover ~ div {
          background-image: url('../images/icons/star-rating.svg');

        }
      }

      &--rated {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-rating.svg');
        background-size: cover;
        cursor: pointer;
        margin: 0;
        padding: 0;
      }

      &--disabled {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-unrated.svg');
        background-size: cover;
        margin: 0;
        padding: 0;
      }

      &--disabled-rated {
        display: inline-block;
        width: $star-width;
        height: $star-height;
        background-image: url('../images/icons/star-disabled.svg');
        background-size: cover;
        margin: 0;
        padding: 0;
      }
    }

    &__approval {
      position: absolute;
      bottom: 0;
      margin-bottom: $tile-padding-vertical;
      text-align: center;
      width: calc(100% - #{$pd-huge});
    }

    &__btn {
      padding:0 !important;
      $dimension: 51px;
      display: inline-block;
      width: $dimension;
      height: $dimension;
      border-radius: 50%;
      background-position: 14px 13px;
      background-repeat: no-repeat;
      background-size: rem-calc(22px);
      cursor: pointer;
    }

    &__btn-approve {
      background-color: $clr-green-shade-2;
      background-image: url('../images/icons/icon-thumbs-up.svg');
      margin-right: $mrg-smaller;
    }

    &__btn-reject {
      padding:0 !important;
      background-color: $clr-red;
      background-image: url('../images/icons/icon-thumbs-down.svg');
    }

    @mixin deepl-base {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 74px; /*or your image's width*/
      height: 30px; /*or your image's height*/

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      margin-bottom: $mrg-small;
      margin-right: $mrg-normal;
      padding: 0;

      cursor: grab;

    }

    &__deepl {
      @include deepl-base;
      background-image: url('../images/logo-deepl-active.svg');

      &:hover {
        background-image: url('../images/logo-deepl-hover.svg');
      }

      &--inactive {
        @include deepl-base;
        background-image: url('../images/logo-deepl-inactive.svg');
      }
    }

  }
}

