<div class="ideas__tile ideas-{{idea.status.toLowerCase()}}">
    <div class="clearfix">
        <div>1-5 Stars</div>
        <div class="tile__status"></div>
    </div>
    <div>
        <p class="ideas__tile_clicktarget">{{idea.author}} </p>
        <p class="tile__short-desc" ng-bind="idea.text"></p>

        <div class="tile__metrics">
            <span class="plist__pill backers-count">{{ idea.votes }}</span>
            <span class="backers-text">Sterne</span>
            <span class="plist__pill pledged-amount">{{ idea.avgVote }}</span>
        </div>
    </div>
</div>