@import "../settings";

/***
 * Button
 */
%button-shared {
  @include box-shadow;

  border-radius: $border-radius;
  font-size: $fs-small;
  letter-spacing: 0.5px;
  margin: 3px;
  padding: $pd-smaller $pd-huge;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 100ms;

  &:hover:enabled {
    color: $clr-body;
    transition: background-color 100ms;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.button-primary {
  @extend %button-shared;
  background-color: $clr-green-shade-2;
  color: $clr-body;

  &:hover:enabled {
    background-color: #35EA87;
    color: $clr-body;
  }

  &:active {
    background-color: #35EA87;
    color: $clr-body;
  }

  &:disabled {
    background-color: $clr-green-shade-2;
    color: $clr-body;

    &:hover {
      background-color: $clr-green-shade-2;
      color: $clr-body;
    }
  }
}

.button-secondary {
  @extend %button-shared;

  $color: $white; // $clr-body
  $bg-color: $clr-gray-dark;  // $clr-gray-light;
  $bg-color-hover: $clr-gray-darker; // $clr-gray;

  background-color: $bg-color;
  color: $color;

  &:hover:enabled {
    background-color: $bg-color-hover;
    color: $color;
  }

  &:active {
    background-color: $bg-color-hover;
    color: $color;
  }

  &:disabled {
    background-color: $bg-color;
    color: $color;

    &:hover {
      background-color: $bg-color;
      color: $color;
    }
  }

}

.button-primary--fullwidth {
  @extend .button-primary;
  width: 100%;
}

.button-primary--halfwidth {
  @extend .button-primary;
  padding-left: 0;
  padding-right: 0;
  width: calc(50% - 8px);
}

.button-secondary--fullwidth {
   @extend .button-secondary;
   width: 100%;
 }

.button-secondary--halfwidth {
  @extend .button-secondary;
  padding-left: 0;
  padding-right: 0;
  width: calc(50% - 8px);
}