@import "../settings";

/***
 * Button
 */
%button-shared {
  @include box-shadow;

  border-radius: $border-radius;
  font-size: $fs-small;
  letter-spacing: 0.5px;
  margin: 3px;
  padding: rem-calc(12px) $pd-huge;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 100ms;

  &:hover {
    color: $clr-body;
    transition: background-color 100ms;
  }

  &:focus {
    outline: 0;
  }

}

.button-primary {
  @extend %button-shared;
  background-color: $clr-green-shade-2;
  color: $clr-body;

  &:hover {
    background-color: #35EA87;
    color: $clr-body;
  }

  &:active {
    background-color: #35EA87;
    color: $clr-body;
  }

}


.button-secondary {
  @extend %button-shared;

  background-color: $clr-gray;
  color: $clr-body;
  padding: $pd-smaller $pd-huge;

  &:hover {
    background-color: $clr-gray-dark;
    color: $clr-body;
  }

  &:active {
    background-color: $clr-gray-dark;
    color: $clr-body;
  }

}

.button-secondary--fullwidth {
  @extend .button-secondary;
  width: 100%;
}