@import "../settings";

/***
 * Button
 */
%button-shared {
  @include box-shadow;
  @include font-button;

  border-radius: $border-radius;
  margin: 3px;
  padding: $pd-smaller $pd-huge;
  transition: background-color 100ms;

  &:hover:enabled {
    color: $clr-white;
    transition: background-color 100ms;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: $clr-gray-dark;
    color: $clr-gray-light;
    cursor: not-allowed;

    &:hover {
      background-color: $clr-gray-dark;
      color: $clr-gray-light;
    }
  }

}

.button-primary {
  @extend %button-shared;

  color: $clr-white;
  background-color: $clr-blue;

  &:focus {
    color: $clr-white;
    background-color: $clr-blue;
  }

  &:active {
    color: $clr-white;
    background-color: $clr-pink;
  }

  @media #{$medium-up} {
    &:active {
      color: $clr-white;
      background-color: $clr-blue;
    }

    &:hover {
      color: $clr-white;
      background-color: $clr-pink;
    }

    &:hover:enabled {
      color: $clr-white;
      background-color: $clr-pink;
    }
  }
}


.button-secondary {
  @extend %button-shared;

  color: $clr-white;
  background-color: $clr-black;

  &:focus {
    color: $clr-white;
    background-color: $clr-black;
  }

  &:active {
    color: $clr-black;
    background-color: $clr-gray-dark;
  }

  @media #{$medium-up} {
    &:active {
      color: $clr-white;
      background-color: $clr-black;
    }

    &:hover {
      color: $clr-black;
      background-color: $clr-gray-dark;
    }

    &:hover:enabled {
      color: $clr-black;
      background-color: $clr-gray-dark;
    }
  }

}

.button-accept {
   @extend %button-shared;

  color: $clr-blue;
  background-color: $clr-green-neon;

  &:focus {
    color: $clr-blue;
    background-color: $clr-green-neon;
  }

  &:active {
    color: $clr-green-neon;
    background-color: $clr-gray-dark;
  }

  @media #{$medium-up} {
    &:active {
      color: $clr-blue;
      background-color: $clr-green-neon;
    }

    &:hover:enabled {
      color: $clr-green-neon;
      background-color: $clr-gray-dark;
    }

    &:hover {
      color: $clr-green-neon;
      background-color: $clr-gray-dark;
    }
  }
}

.button-reject {
  @extend %button-shared;

  color: $clr-white;
  background-color: $clr-red;

  &:focus {
    color: $clr-white;
    background-color: $clr-red;
  }

  &:active {
    color: $clr-red;
    background-color: $clr-gray-dark;
  }

  @media #{$medium-up} {
    &:active {
      color: $clr-white;
      background-color: $clr-red;
    }

    &:hover {
      color: $clr-red;
      background-color: $clr-gray-dark;
    }

    &:hover:enabled {
      color: $clr-red;
      background-color: $clr-gray-dark;
    }
  }
}

@mixin button-halfwidth {
  padding-left: 0;
  padding-right: 0;
  width: calc(50% - 9px);
}

@mixin button-fullwidth {
  width: 100%;
}

.button-primary--fullwidth {
  @extend .button-primary;
  @include button-fullwidth;
}

.button-primary--halfwidth {
  @extend .button-primary;
  @include button-halfwidth;
}


.button-secondary--fullwidth {
  @extend .button-secondary;
  @include button-fullwidth;
 }

.button-secondary--halfwidth {
  @extend .button-secondary;
  @include button-halfwidth;
}


.button-accept--fullwidth {
  @extend .button-accept;
  @include button-fullwidth;
}

.button-accept--halfwidth {
  @extend .button-accept;
  @include button-halfwidth;
}


.button-reject--fullwidth {
  @extend .button-reject;
  @include button-fullwidth;
}

.button-reject--halfwidth {
  @extend .button-reject;
  @include button-halfwidth;
}