.content-hero {

  &__container {
    margin: 0 auto;
    text-align: center;
  }

  &__headline {
    @include font-headline;

    line-height: 1.4;
    margin-bottom: $mrg-half;
  }

  &__headline--solo {
    @include font-headline;

    line-height: 1;
    margin-bottom: 0;
  }

  &__description {
    @include font-text;

    position: relative;
    margin-bottom:4.5rem;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -2.5rem;
      width: 6rem;
      margin-left: -3rem;
      border-bottom: 0.25rem solid #2D2D2D;
    }
  }
}