@import "../settings";

/***
 * Error
 */
.error-page {

  &__heading {
    @include fs-huge;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &__description {
    @include font-smoothing;
    display: block;
    margin: 0 auto $mrg-huge;
    text-align: center;
  }

  &__box {
    &--centered {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $mrg-medium;
  }
}