/***
 * Footer
 */

.footer {
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: $white;
    background-color: $clr-gray-light;

    @media #{$medium-up} {
        padding: 3rem 1rem;
        margin-top: 0;
    }
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media #{$small-only} {
        flex-direction: column;
    }
}

/*ul*/
.footer__col {

    display: block;
    margin-top: 1rem;
    line-height: 1.8rem;
    list-style-type: none;

    &:last-child {
        margin-bottom: 1rem;
    }

    @media #{$medium-up} {
        margin: 0;
    }
}

/*ul*/
.footer__col-brand {
    @extend .footer__col;

    @media #{$medium-up} {
        float: right;
    }
}

%footer__item-head {
    @include font-text;

    font-size: $fs-small;
    font-weight: $fw-regular;
    margin-bottom: $mrg-small;
}

/*li*/
.footer__item-head {
    @extend %footer__item-head;
}

.footer__item-head--nextrow {
    @extend %footer__item-head;
    margin-top: $mrg-normal;
}

/*li*/
.footer__item-head-sec {
    @extend %footer__item-head;
    margin-bottom: 0;
}

.footer-partner {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 130px;
    }

    &__ideas {
        background: url("./images/footer/logo_ideas.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 26px;
        width: 97px;
        margin-bottom: $mrg-normal;
    }

    &__asdigitalists {
        background: url("./images/footer/logo_asdigitalists.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 100px;
    }

    &__pc {
        background: url("./images/footer/logo_pc.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 107px;
        margin-bottom: $mrg-normal;
    }

    &__as {
        background: url("/images/footer/logo_as.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 32px;
        width: 98px;
    }
}

.footer-link {
    @include font-text;

    font-size: $fs-small;
    text-decoration: none;
    transition: color 100ms ease-out;

    &:hover {
        color: $clr-pink
    }

    &:focus {
        color: $clr-pink
    }
}
