@import "../settings";

.intro-hero {

    &__action-bar__ledge {
        @include font-smoothing;
        font-size: rem-calc(18px);
        line-height: 1.3333;
        color: $white;
    }

    &__text {
        color: $clr-white;
        font-size: $fs-regular;
        font-weight: $fw-regular;
        padding: 0 100px;
        text-align: center;

        @media #{$small-only} {
            padding-left: 0;
            padding-right: 0;
        }

        &:last-of-type {
            text-transform: uppercase;
        }
    }
}