@import "../settings";

.intro-hero {

    &__action-bar__heading {
        @include font-smoothing;
        position: relative;
        margin: 0 0 rem-calc(4px) 0;
        padding-top: rem-calc(56px);
        font-size: rem-calc(18px);
        font-weight: 600;
        line-height: 1.3333;
        text-transform: uppercase;
        color: $clr-yellow-shade-1;
        background: url('../images/icon-teaser-diamond.svg') center top no-repeat;

        &::after {
            content: counter(teaser-counter);
            position: absolute;
            width: 100%;
            top: rem-calc(3px);
            left: 0;
            color: $clr-yellow-shade-1;
        }
    }

    &__action-bar__ledge {
        @include font-smoothing;
        font-size: rem-calc(18px);
        line-height: 1.3333;
        color: $white;
    }

    &__text {
        color: $clr-white;
        font-size: $fs-normal;
        font-weight: $fw-regular;
        padding: 0 100px;
        text-align: center;

        @media #{$small-only} {
            padding-left: 0;
            padding-right: 0;
        }

        &:last-of-type {
            text-transform: uppercase;
        }
    }
}