@import '../settings';

.overlay {
    &__wrapper {
        position: relative;
    }

    &__container {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

    &--success {
        background-color: rgba(74, 159, 120, 0.8);

        .overlay__icon {
            $dimension: 100px;
            display: inline-block;
            width: $dimension;
            height: $dimension;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: rem-calc(100px);
            background-image: url('../images/icons/icon-overlay-success.svg');
        }
    }

    &--failure {
        background-color: rgba(240, 65, 36, 0.8);

        .overlay__icon {
            $dimension: 100px;
            display: inline-block;
            width: $dimension;
            height: $dimension;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: rem-calc(100px);
            background-image: url('../images/icons/icon-overlay-failure.svg');
        }
    }

    &__content {
        margin: 0 auto;
        padding-top: 2rem;
        text-align: center;
    }

    &--hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
    }

    &--active {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }

    &__text {
        padding: 1rem;
        word-wrap: break-spaces;
        color: $clr-white;
        font-size: $fs-medium;
    }
}
