/*
.privacy {
     h1 {
      @include font-headline-base;
      font-size: $fs-xlarge;
    }
    h2 {
      @include font-headline-base;
      font-size: $fs-large;
    }
    h3 {
      @include font-headline-base;
      font-size: $fs-medium;
    }
}
*/