@import '../settings';

/***
* Status Bar
*
*
*/

//
// Status Bar' Mixins
//

@mixin sbar__icon($options: ()) {
    $options: map-merge((
            padding-left : 18px,
            bg-size-y : 18px
    ), $options);
    padding-left: rem-calc(map-get($options, padding-left));
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto rem-calc(map-get($options, bg-size-y));
}

//
// Status Bar Styles
//

// Angular custom HTML

status-bar {
    display: block;
    background-color: gainsboro;
    @media #{$medium-up} {
        // border-bottom: 1px solid $clr-alto;
    }
}

// List item container

%ul-plain {
    margin: 0;
    list-style-type: none;
}

/*ul*/
.sbar__ul {
    @extend %ul-plain;
    @media #{$medium-up} {
        @include css-table(('table-layout' : fixed));
    }
}

// List items

/*li*/
.sbar__li--primary {
    @extend %sbar__li;

    text-align: center;
    @media #{$medium-up} {
        width: 60%;
        text-align: right;
    }
}

/*li*/
.sbar__li--secondary {
    @extend %sbar__li;
    display: none; // For smartphones, for bigger resolutions a media query
    // will revert to visible
    @media #{$medium-up} {
        width: 40%;
    }

  &--no-padding {
    padding: 0 !important;
  }
}



/*li*/
.sbar__li--ternary {
    @extend %sbar__li;
    display: none; // For smartphones, for bigger resolutions a media query
    // will revert to visible
    @media #{$medium-up} {
        width: 40%;
    }

}

%sbar__li {
    @include font-smoothing;
    padding: 0 1rem;
    font-size: rem-calc(14px);
    line-height: 1;
    padding: 1.5rem 1rem;
    @media #{$medium-up} {
        @include css-table-cell();
    }
}

/*ul*/
.sbar__ul-float {
    @extend %ul-plain;
    text-align: center;

    @media #{$medium-up} {
        text-align: right;
    }

    > li {
        display: block;
        font-size: rem-calc(14px);

        // Layout for > 640px : Floating li elements
        @media #{$medium-up} {
            display: inline-block;
        }
    }
}

//
// Icons
//

/*span*/
.sbar__icon--location {
    @include sbar__icon();
    background-image: url('../images/icon-location.svg');
}

/*span*/
.sbar__icon--box {
    @include sbar__icon(('padding-left': 26px));
    background-image: url('../images/icon-box.svg');
}

.sbar__icon--edit {
  @include sbar__icon(('padding-left': 26px));
  background-image: url('../images/icon-edit.svg');
}
//
// Pill
//

/*span*/
.sbar__pill {
    position: relative;
    padding: rem-calc(4px) rem-calc(12px);
    color: $white;
    letter-spacing: 1px;
    background-color: #39c277;
    border-radius: rem-calc($border-radius);
}

.sbar {
    background-color: #DCDCDC;
    width: 100%;

    &-breadcrumb {
        @media #{$small-only} {
            display: none;
        }
    }

    &-breadcrumb__item, &__button {
        text-decoration: none;
        font-size: $fs-regular;
        font-weight: $fw-bold;

        &:hover {
            color: inherit;
        }

        &:focus {
            color: inherit;
        }
    }

    &-breadcrumb__item--current {
        font-size: $fs-regular;
        font-weight: $fw-regular;
    }

    &-breadcrumb__item-separator {
        margin-left: 3px;
        margin-right: 5px;
    }

    &__icon--hourglass {
        @include sbar__icon();
        font-size: $fs-regular;
        padding-left: 1.5rem;
        background-image: url('../images/icon-hourglass.svg');
    }

    &__icon--time {
        @include sbar__icon();
        font-size: $fs-regular;
        padding-left: 1.5rem;
        background-image: url('../images/icons/time_clock_with_arrow.svg');
    }


}