/***
 * Teaser
 *
 * Teaser area on top of most pages
 *
 */

//
// Define Extends
//

.teaser--hero {
    text-align: center;
    background-color: #0000FF;
}

.teaser--slim {
    height: $mrg-small;
    width: 100%;
    background-color: $clr-blue;
}

.teaser-hero-image {
    width: 100%;
    max-width: 1440px;
}

.teaser-content {
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
}
