.error {
    input,
    textarea,
    select {
        // foundation sets this to 0, this causes the fields after the one with the error to "bounce" because the margin changes
        // -> overwrite it back to default setting
        margin-bottom: $form-spacing;
    }
}

// Angular JS defined class
.valid-label {
    @include font-form;

    a {
        @include font-form;
    }
}

.invalid-label {
    @include font-form;
    color: $clr-red;
}

.acceptTOSContainer {
    display: flex;
    margin-bottom: $mrg-medium;

    input {
        margin-top: 3px;
        margin-right: 10px;
    }
}