.error {
    input,
    textarea,
    select {
        // foundation sets this to 0, this causes the fields after the one with the error to "bounce" because the margin changes
        // -> overwrite it back to default setting
        margin-bottom: $form-spacing;
    }
}

// Angular JS defined class
.valid-label {
    @include font-form;

    a {
        @include font-form;
    }
}

.invalid-label {
    @include font-form;
    color: $clr-red;
}

.acceptTOSContainer {
    display: flex;
    margin-bottom: $mrg-medium;

    input {
        margin-top: 3px;
        margin-right: 10px;
    }
}

.acceptTOSPanel {
    @include font-text;
    font-size: $fs-xsmall;

    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: $clr-gray-light;
    background-color: $clr-whitegray;
    color: #333333;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}