<div class="sbar">
    <div class="row">
        <ul class="sbar__ul">
            <li class="sbar__li--primary sbar-breadcrumb columns medium-6">
                <ul class="sbar__ul-float">
                    <span class="sbar__icon--location"></span>

                    <li class="sbar__li--secondar--no-padding" ng-repeat="breadcrumb in status.breadcrumbs">
                        <a class="sbar-breadcrumb__item" ng-href="{{breadcrumb.target}}">{{breadcrumb.label}}</a>
                        <span ng-if="!$last">&nbsp;/&nbsp;</span>
                    </li>
                </ul>
            </li>

            <li class="sbar__li--primary columns medium-6">
                <ul class="sbar__ul-float">
                    <li class="sbar__li--secondary--no-padding sbar__li--secondary">
                        <span ng-if="status.campaign.active" class="sbar__icon--hourglass">Kampagne läuft bis: {{status.campaign.endDate | date}}</span>
                        <span ng-if="!status.campaign.active" class="sbar__icon--time">Kampagne endete am: {{status.campaign.endDate | date}}</span>
                        <a class="sbar__button" ng-if="status.userIsAdmin" name="admin-button" ng-href="/#/ideas/{{status.campaign.id}}/admin">[Admin]</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
