@import "../../globals";

.alert-box {
  background-color: $clr-red;
  border-radius: $border-radius;
  border-style: none;
  color: $clr-white;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 1.25rem 1.875rem 1.25rem 1.25rem;
}
