@import "../../globals";

.form {

  input:not([type]), input[type='text'], input[type='password'] {
    background-color: $color-white;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: $font-size-small;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  }

  input[type='checkbox'] {
    display: block;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  }

  label {
    float: left;
    font-size: $font-size-small;
  }
}
